.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background: var(--white);
}

.footer__content {
    text-align: center;
}

.footer__title {
    font-family: 'Inter', serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
}

.footer__description {
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    width: 640px;
}

.footer__title_position {
    margin-top: 71px;
    margin-bottom: 32px;
}